<h1>Hello, <%= @current_user.username %></h1>
<p></br>
<h4>You have <%= @current_user.track_count %> tracks at SoundCloud:</h4>
<p><h4>Choose one to connect to SoundDrop.</h4>
<% @drop.errors.messages.each do |message| %>
  <%= message.inspect%>
<% end %>

<%= form_for @drop, url: drops_path do |f| %>
  <% drops = @current_user_tracks.each do |track| %>
      <br><%= f.radio_button(:sc_track, track.id) %>
      <%= f.label(track.id, track.title) %></br>
  <% end %></br><p></br>

  <h4>Choose a Place:</h4>

  <% @places.each do |place| %>
    <p><%= f.radio_button(:place_id, place.id) %>
    <%= f.label(:name, place.name) %></p>
  <% end %>
<%= submit_tag("Save") %>
<% end %>





