  <div class="artwork">
    <div class="container-play-button">
      <img class="container-image" src="<%=@artwork%>">
      <%= render partial: "load_playbuttons" %>
    </div>
  </div>

  <div class="container-like-button">
      <div id="likebutton" class="like"></br>
        <%= button_to "like", upvote_drop_path(@drop), {form_class: "button-like", :id => "like_button", method: :post} %>
      </div>
      <div id="votes" class="vote">
        <%= @drop.votes.count %>
      </div>
  </div>
 <div class ="drop-title">
    <p><%=@drop.title%></p>
 </div>
  <div class="drop-place">
      <%=@place_name %>
  </div>

  <div class="container-fluid">
    <h4>Hear more drops:</h4>
      <% @playlist.tracks.each do |track| %>
        <% if track.id != @drop_at_sc.id %>
          <a href="/playlists/<%=@playlist.id%>/<%=track.id%>" data-no-turbolink><%= track.title %></a></br>
        <% end %>
      <% end %><br>
  </div>

<script>
  var drop = {
    id: <%= @drop.id %>
  }
  var dropAtSC = {
     id: <%= @drop_at_sc.id %>
  }

</script>

