<div class='main'>
  <h1>Welcome, you are at SoundCloud HQ!</h1>

  <%= image_tag("reception.jpg", :width => "90%", :height => 150, :alt => "Reception") %>

  <iframe width="90%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/159103322&amp;color=ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=false"></iframe>

  <div class='comments'>
    <%= form_for :comment, :html => {:id => "commentForm"}, url: comments_path do |f| %>
      <p>
        <%= f.label :text, "How do you like this app?" %><br>
        <%= f.text_area :text, :size=>"90%", :id => "new_comment"%>
      </p>
      <p>
        <%= f.submit "Save Comment", :id =>"save_comment" %>
      </p>
    <% end %>
  </div>  

  <div id="hide_comments" class='list_comments'>
  </div>
</div>


<script type="text/javascript">
 //This one is the promise
  $("#hide_comments").hide();
  $("#commentForm").submit(function(event) {
    event.preventDefault();

    $.ajax({
      url: "/comments/",
      type: "POST",
      data: $("#commentForm").serialize(),
    }).done(function() {
      $.ajax('/comments/index').done(function(comments) {
        $("#hide_comments").html(comments).show();
        $('#new_comment').val('');
      });      
    });
  });


  //This one is callback
  // $("#comments").hide();
  // $("#commentForm").submit(function(event) {
  //   event.preventDefault();

  //   $.ajax({
  //     url: "/comments/",
  //     type: "POST",
  //     data: $("#commentForm").serialize(),
  //     success: function() {
  //       $.ajax('/comments/index').done(function(comments) {
  //         $("#comments").html(comments).show();
  //       });    
  //     }
  //   });
  // });

</script>

