<div id="stories_chart"></div>

<script type="text/javascript" charset="utf-8">

   // var story = {
   //    stats: <%= @story_stats %>   
   //  }

    $(function() {


      
      new Highcharts.Chart({
        chart: {
          renderTo: "stories_chart",
          // type: "bar"
        },
        title: {
          text: "Stats"
        },

        subtitle: {
          text: "Check how popular your story is on SoundDrop"
        },

        xAxis: {
          categories: 
            <%= (Date.today-4.. Date.today).map{ |day| day.strftime("%b %e").squeeze("") }.to_json.html_safe %> 
        },
      
        series: [{
          data: 
            <%= (Date.today-4.. Date.today).map{ |date| Story.find_by_id(1).votes.total_on(date).to_i }.to_json.html_safe %>
        }, {
          data: 
            <%= (Date.today-4.. Date.today).map{ |date| Story.find_by_id(2).votes.total_on(date).to_i }.to_json.html_safe %>
        }, {
          data: 
            <%= (Date.today-4.. Date.today).map{ |date| Story.find_by_id(3).votes.total_on(date).to_i }.to_json.html_safe %>
        }]
      });    
    });
</script>
