<div class="container-fluid">

  <h1>Hello, <%= @current_user.username %></h1>
  <p></br>
  <h4>You have <%= @current_user.track_count %> tracks at SoundCloud:</h4>
  <p><h4>Choose one to connect to SoundDrop.</h4>

  <!-- @story.errors.messages.each do |message| 
  message.inspect
  end -->

  <%= form_for @story, url: stories_path do |f| %>
    <%= render 'error_messages' %>
    <% stories = @current_user_tracks.each do |track| %>
        <% if @story.sc_track == track.id %>
          <br><%= f.radio_button(:sc_track, track.id, required: true, selected: true)%>
        <% else %>
          <br><%= f.radio_button(:sc_track, track.id, required: true)%>
        <% end %>
        <%= f.label(track.id, track.title) %></br>
    <% end %></br><p></br>
      
  <h4>Choose a Place:</h4>

    <% @places.each do |place| %>
      <p><%= f.radio_button(:place_id, place.id, required: true) %>
      <%= f.label(:name, place.name) %></p>
    <% end %>   
  <%= submit_tag("Save") %>
  <% end %>
  
<!--   <h4> link_to "Create a new place", :controller => :places, :action => :new </h4>
 -->
</div>


