<h1>Hello, <%= @current_user.username %></h1>
<p></br>
<h4>You have <%= @current_user.track_count %> tracks at SoundCloud:</h4>
<p><h4>Choose one to connect to SoundDrop.</h4>
</br>


<%= form_for @story do |f| %>
    <% stories = @current_user_tracks.map do |track| %>
      <% {id: track.id}.each do |key,id_value| %>
        <br><%= f.radio_button(:sc_track, id_value) %>
        <%= label_tag(id_value, track.title) %></br>
      <% end %>
    <% end %>
<%= submit_tag("Save") %>
<% end %>



