 <div class="artwork">
  <div class="container-image"> 
    <% @playlist.tracks.each do |track| %>
      <%if track.id == @story.id %>
       <img class="container-image" src="<%=
        artwork = @story.artwork_url
        if artwork == nil
          artwork = @story.user.avatar_url
        end 
        artwork.sub! "large", "crop"
         %>">
      <% end %>
    <% end %>
    <div class="play-button">
       <span class="glyphicon glyphicon-play-circle"></span>
    </div>
  </div>
</div>


<div class="story-place">@SoundCloud HQ</div>

<div class="container-fluid">
  <h4>Hear more stories:</h4> 
    <% @playlist.tracks.each do |track| %>
      <% if track.id != @story.id %>
        <a href="/playlists/<%=@playlist.id%>/<%=track.id%>" data-no-turbolink ><%= track.title %></a></br>
      <% end %>
    <% end %><br>
</div>

<%= render partial: "create_comments" %>
<script>
  var story; 
  var playPauseButton = $('.play-button');
  var state = {
      isPlaying: false,
      isBuffering : false
  };
  var options = {
    onfinish : function(){
      playPauseButton.html('<span class="glyphicon glyphicon-play-circle"></span>');
    }
  }

  SC.initialize({
    client_id: '69e93cf2209402f6f3137a6452cf498f'
  });
  //setup on click
  playPauseButton.on('click', function(event) {
    if (story) {
      if (state.isPlaying) {
        story.pause();
        playPauseButton.html('<span class="glyphicon glyphicon-play-circle"></span>');
        state.isPlaying = false;
      } else {
        story.play();
        playPauseButton.html('<span class="glyphicon glyphicon-pause"></span>');
        state.isPlaying = true;
      }
    }else{
      if (state.isBuffering) {
        playPauseButton.html('<span class="glyphicon glyphicon-play-circle"></span>');
        state.isBuffering = false;
      } else{
        playPauseButton.html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>');
        state.isBuffering = true;
      }
    }
  });
  //Fetch stream 
  setTimeout( function (){
    SC.stream(<%= @story.id %>, options ,function(sound){
      //if we comment this line we can test the else ( if story is not true)
      story = sound;
      console.log("story ready");
      if (state.isBuffering) {
        story.play();
        playPauseButton.html('<span class="glyphicon glyphicon-pause"></span>');
        state.isPlaying = true;
        state.isBuffering = false;
      }
    });
  }, 3000);
</script>