<div class="container-image"> 
  <% @playlist.tracks.each do |track| %>
    <%if track.id == @story.id %>
      <%= widget(@story.id) %>
    <% end %>
  <% end %>
</div>

<div class="story-place">@SoundCloud HQ</div>

<div class="container-fluid">
  <h4>Hear more stories:</h4> 
    <% @playlist.tracks.each do |track| %>
      <% if track.id != @story.id %>
        <a href="/playlists/<%=@playlist.id%>/<%=track.id%>"><%= track.title %></a></br>
      <% end %>
    <% end %><br>
</div>

<%= render partial: "create_comments" %>