
<%if @story %>
  <div class="artwork">
    <img class="container-image" src="<%=@artwork%>">
    <%= render partial: "load_playbuttons" %>
  </div>

  <div class="container-like-button">
    <div id="likebutton" class="like"></br>
      <%= button_to "like", upvote_story_path(@story), {form_class: "button-like", :id => "like_button", method: :post} %>
    </div>
    <div id="votes" class="vote">
      <%= @story.votes.count %>
    </div>
  </div>
  <div class ="story-title">
    <p><%= @story_at_sc.title %></p>
  </div> 
  <div class="story-place"> 
    <%= @place_name %>
  </div>

<script>
  var story = {
    id: <%= @story.id %>   
  } 
  var storyAtSC = {
     id: <%= @story_at_sc.id %> 
  }
</script>

<%= render partial: "create_comments" %>
<%else%>
    <h1>Oops! We couldn't find this story, try again!! </h1>
<%end%>

