<div class="container-image">
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=@story.id %>&amp;auto_play=false&amp;hide_related=true&amp;show_user=false&amp;show_comments=false&amp;show_reposts=false&amp;show_bpm=false&amp;sharing=false&amp;liking=false&amp;show_playcount=false&amp;download=false&amp;buying=false&amp;show_artwork=false&amp;visual=true"></iframe>
</div>

<div class="story-place">@SoundCloud HQ
</div>

<div class='comments'>
  <%= form_for :comment, :html => {:id => "commentForm"}, url: comments_path do |f| %><p>
  <%= f.label :text, "What do you think about this app?" %><br>
  <%= f.text_area :text, size: "70%", :id => "new_comment"%><p>
  <%= f.submit "Send Comment", :id =>"save_comment" %>
  <% end %>
</div>  

<div id="hide_comments" class='list_comments'>
</div>



<script type="text/javascript">
    $("#hide_comments").hide();
    $("#commentForm").submit(function(event) {
      event.preventDefault();
      $.ajax({
        url: "/comments/",
        type: "POST",
        data: $("#commentForm").serialize(),
      }).done(function() {
        $.ajax('/comments/index').done(function(comments) {
          $("#hide_comments").html(comments).show();
          $('#new_comment').val('');
          });     
          });
        });
</script>
