<%if @story %>
  <div class="container-image">
    <%=widget(@story_at_sc.id)%> 
  </div>

  <div class="container-like-button">
    <div id="votes" style="display-inline">
      <%= @story.votes.count %>
    </div>
    <div id="likebutton"></br>
      <%= button_to 'like', upvote_story_path(@story), :id => "like_button", method: :post %>
    </div>
  </div>

  <div class="story-place"> 
    <% @place = Place.find_by_story_id(@story.id) %>
    <% if @place != nil %>
    <%= @place.name %>
    <% end %>
  </div>

<!--   <h4> 
    <div id= "session"> 
      <p> Session Hash: <%= @session %> </p>
  </h4> This would show the session hash or (after ajax call) the array containing liked stories-->

<script>
  var story = {
    id: <%= @story.id %>
  }
</script>

<%= render partial: "create_comments" %>
<%else%>
    <h1>Ups! We couldn't find this story, try again!! </h1>
<%end%>

