<iframe width="100%" height="110" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=@story.id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false&amp;show_artwork=false"></iframe>

</br>
</br>
   
<div class='comments'>
    <%= form_for :comment, :html => {:id => "commentForm"}, url: comments_path do |f| %>
      <p>
        <%= f.label :text, "How do you like this app?" %><br>
        <%= f.text_area :text, :size=>"90%", :id => "new_comment"%>
      </p>
      <p>
        <%= f.submit "Save Comment", :id =>"save_comment" %>
      </p>
    <% end %>
  </div>  

  <div id="hide_comments" class='list_comments'>
  </div>
</div>
<!--TODO refactoring to the new js file, assets/javascript-->
<script type="text/javascript">
  $("#hide_comments").hide();
  $("#commentForm").submit(function(event) {
    event.preventDefault();

    $.ajax({
      url: "/comments/",
      type: "POST",
      data: $("#commentForm").serialize(),
    }).done(function() {
      $.ajax('/comments/index').done(function(comments) {
        $("#hide_comments").html(comments).show();
        $('#new_comment').val('');
      });     
    });
  });

</script>