<%if @story %>
  <div class="container-image">
    <%=widget(@story_at_sc.id)%> 
  </div>

  <div class="container-like-button">
    <div id="likebutton" class="like"></br>
      <%= button_to "like", upvote_story_path(@story), {form_class: "button-like", :id => "like_button", method: :post} %>
    </div>
    <div id="votes" class="vote">
      <%= @story.votes.count %>
    </div>
  </div>

  <div class="story-place"> 
    <% @place = Place.find_by_story_id(@story.id) %>
    <% if @place != nil %>
    <%= @place.name %>
    <% end %>
  </div>

<script>
  var story = {
    id: <%= @story.id %>   
  } 
</script>

<%= render partial: "create_comments" %>
<%else%>
    <h1>Oops! We couldn't find this story, try again!! </h1>
<%end%>
