
<div class="container-fluid">
  <% if @story.artwork_url == nil %>
    <%= image_tag(@story.user.avatar_url, width: "100%") %>
    <h1 class="story-title"><%= @story.title %></h1>
    <h3 class="story-place">@SoundCloud HQ</h3>
  <% else %>
    <%= image_tag(@story.artwork_url, width: "100%") %>
    <h1 class="story-title"><%= @story.title %></h1>
    <h3 class="story-place">@SoundCloud HQ</h3>
  <% end %>

  
  <% @playlist.tracks.each do |track| %>
    <%if track.id == @story.id %>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=track.id %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
    <% end %>
  <% end %>

  <br>
  <br>
  <p><b>More stories:</b></p>

  <% @playlist.tracks.each do |track| %>
    <% if track.id != @story.id %>
      <a href="/playlists/<%=@playlist.id%>/<%=track.id%>"><%= track.title %></a>
      </br>
    <% end %>
  <% end %>
  <br>
  <form>
    <label>What do you think about this app?</label>
    <textarea class="form-control" rows="2"></textarea>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  
</div> <!-- /.container -->

<hr>
