
<div class="container-fluid">
<h1>Hello, </h1>
</br>
<h4>Choose a Place:</h4>

<table>
  <tr>
  </tr>
  
  <tr>
    <td>
        <%= form_for @place, url: places_path do |f| %>
          <% @places.each do |place| %>
          <p><%= f.radio_button(:id, place.id) %>
          <%= f.label(:name, place.name) %></p>
        <% end %>
        <%= submit_tag("Choose this Place") %>
      <% end %>
    </td>
  </tr>
</table>

<br></br>

<h4>OR</h4>
</div>

<%= render partial: "create_places" %>
